In [10]:
import os
import pickle
import pandas as pd

In [5]:
# Load the database and visualise the information
db = pickle.load(open("TCGA_PID_MTOR_4PATHWAY-ZG8HEYE/dbsTCGA_.ptl", "rb"))
db

ACSNI result with 14 modules over 5 bootstraps.

In [6]:
# Extract run information
db.get_run_info()

{'m': 2.5,
 'b': 5,
 'c': 0.01,
 'p': 0,
 'f': 1,
 'i': 'TCGA_.csv',
 't': 'mTOR.csv',
 'w': None,
 's': 68}

In [7]:
# Extract predicted network and save to file
output = db.get_p()
output.to_csv("TCGA_PID_MTOR_4PATHWAY-ZG8HEYE/results.csv")
# This file has extended output, including results from decomposing with PCA, NMF and median
output.head(5)

,AE_GUUQQF_0,AE_GUUQQF_1,AE_GUUQQF_2,AE_GUUQQF_3,AE_GUUQQF_4,AE_GUUQQF_5,AE_GUUQQF_6,AE_GUUQQF_7,AE_GUUQQF_8,AE_GUUQQF_9,...,AE_FIP9MC_8,AE_FIP9MC_9,AE_FIP9MC_10,PCA_FIP9MC_0,NMF_FIP9MC_0,NMF_FIP9MC_1,MEDIAN_FIP9MC_0,Predicted,Sum_stat,Boot_Count
name,,,,,,,,,,,,,,,,,,,,,
A1BG,B,B,B,B,B,B,B,B,B,B,...,B,B,B,B,B,B,B,0,0,5
A1CF,B,B,B,B,B,B,B,B,B,B,...,B,B,B,B,B,B,B,0,1,5
A2LD1,B,B,B,B,B,B,B,B,B,B,...,B,B,B,B,B,B,B,0,1,5
A2M,B,B,B,B,B,B,B,B,B,B,...,B,B,B,B,B,B,B,0,0,5
A4GALT,B,B,B,B,B,B,B,B,B,B,...,B,B,B,B,B,B,B,0,0,5

In [9]:
len(output)

15553

In [11]:
sample = pd.read_csv("sample_info.csv")
sample

                               ID   group
0    TCGA.A3.3358.11A.01R.1541.07  Normal
1    TCGA.A3.3358.01A.01R.1541.07   Tumor
2    TCGA.A3.3387.11A.01R.1541.07  Normal
3    TCGA.A3.3387.01A.01R.1541.07   Tumor
4    TCGA.B0.4700.11A.01R.1541.07  Normal
..                            ...     ...
141  TCGA.CZ.5988.01A.11R.1672.07   Tumor
142  TCGA.CZ.5989.11A.01R.1672.07  Normal
143  TCGA.CZ.5989.01A.11R.1672.07   Tumor
144  TCGA.DV.A4W0.05A.11R.A266.07   Tumor
145  TCGA.DV.A4W0.01A.11R.A266.07   Tumor

[146 rows x 2 columns]

In [14]:
subprocess = pd.read_csv("group_to subprocess associations.csv")
subprocess.head(5)

           sub         0 Association
0  AE_F4I89S_0  0.506849        Weak
1  AE_F4I89S_1  0.931507      Strong
2  AE_F4I89S_2  0.554795        Weak
3  AE_F4I89S_3  0.541096        Weak
4  AE_F4I89S_4  0.890411      Strong

In [15]:
len(subprocess)

55